.container {
  width: 100%;
  max-width: 100%; }
  .container #section1, .container #section2, .container #section3 {
    margin-top: 100px; }
  .container #section1 {
    margin: 20px 0px 50px 0px; }
    .container #section1 .logo img {
      width: 100%; }
    .container #section1 .heading {
      border-bottom: 1px solid green; }
  .container #section2 {
    background: #F8F8F8; }
    .container #section2 img {
      width: 70%; }
    .container #section2 .four {
      border: 1px solid #E8E8E8;
      padding: 2px;
      text-align: center; }
  .container #section3 {
    background: #505050; }
  .container form {
    padding: 10px;
    color: #E8E8E8; }
  .container #exampleRecipientInput {
    color: #505050; }
  .container .six {
    float: right;
    padding-left: 10px; }
  .container .social a {
    padding: 5px;
    text-decoration: none; }
