$white: #ffffff;
$grey1: #E8E8E8;
$grey2: #505050;
$bluetxt: #0099CC;

h1 {
    font-size: 3em;
    color: $bluetxt;
}
h2 {
    font-size: 2em;
    color: $bluetxt;
}
h3 {
    font-size: 1.5em;
    color: $bluetxt;
}
p {
    font-size: 1em;
}

.section1, .section2, .section3{
    margin: 20px 0px 50px 0px;
}
.section1 {
    .logo img {
        width: 55px;
        margin-bottom: 30px;
        margin-right: 30px;
        float: left;
    }
    .heading {
        margin-top: 30px;
    }
}
.section2 {
    img {
        width: 100%;
    }
    .mycol {
        border: 1px solid $grey1;
        padding: 15px 10px 15px 10px;
        text-align: center;
    }
    p {
        font-size: 1em;
    }
}
.section3 {
    background: $grey2;
    color: $white;
    padding-top: 20px;
    a {
        color: $white;
    }
    form{
        padding: 10px;
        color: $grey1;
    }
    h3 {
        padding-top: 50px;
    }
    .social{
        a{
            padding: 5px;
            text-decoration: none;
        }
    }
}

@media screen and  (max-width: 991px) {
    .section2 {
        img {
            width: 300px;
        }
        .mycol {
            margin-bottom: 25px;
        }
        p {
            font-size: 1.1em;
        }
    }
}